# Big data / outputs
Data/Datasets/**/images/
Data/Datasets/**/labels/
runs/**/predictions/
runs/**/weights/
**/*.pt
**/*.pth

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS junk
Thumbs.db
.DS_Store
