# Big data / outputs
Data/Datasets/**/images/*
!Data/Datasets/**/images/test/
!Data/Datasets/**/images/test/**
!Data/Datasets/**/images/val/
!Data/Datasets/**/images/val/**
!Data/Datasets/**/images/train/
!Data/Datasets/**/images/train/**
Data/Datasets/**/labels/
!Data/Datasets/YOLO_COCO_sign_shape/labels/
!Data/Datasets/YOLO_COCO_sign_shape/labels/**
runs/**/predictions/
runs/**/weights/
**/*.pt
**/*.pth

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS junk
Thumbs.db
.DS_Store

