# Big data / outputs
Data/Datasets/**/images/*
!Data/Datasets/**/images/test/
!Data/Datasets/**/images/test/**
!Data/Datasets/**/images/val/
!Data/Datasets/**/images/val/**
!Data/Datasets/**/images/train/
!Data/Datasets/**/images/train/**
!Data/Datasets/YOLO_COCO_sign_shape/images/test/
!Data/Datasets/YOLO_COCO_sign_shape/images/test/**
!Data/Datasets/YOLO_COCO_sign_shape/images/val/
!Data/Datasets/YOLO_COCO_sign_shape/images/val/**
Data/Datasets/**/labels/
!Data/Datasets/YOLO_COCO_sign_shape/labels/
!Data/Datasets/YOLO_COCO_sign_shape/labels/**
runs/**/best.pt
runs/**/weights/**/best.pt

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS junk
Thumbs.db
.DS_Store

